.tabs-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  background: #161625;
  background-size: cover;
}
.btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  background: #2563eb;
  border-radius: 12px;
}
