.faq-question {
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .faq-question {
    font-size: 12px;
  }
}
.faq-answer {
  color: #007bff;
  font-family: 'Roboto';
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .faq-answer {
    font-size: 12px;
  }
}
