.logo {
  font-family: 'Bree Serif';
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #f8fafc;
}
@media (min-width: 768px) {
  .logo {
    font-size: 16px;
    line-height: 24px;
  }
}
.logo-span {
  color: blue;
}
@media (min-width: 768px) {
  .caption {
    font-size: 14px;
    line-height: 24px;
  }
}
.caption {
  color: #94a3b8;
  text-align: center;
}
.insta-logo {
  color: white;
}
.icons-container {
  display: flex;
  width: 230px;
  justify-content: space-between;
}
.footer-section {
  margin-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
